$sideBar_bg_color: linear-gradient(45deg, orangered, blue);

$scrollbar_track_color: purple;
$scrollbar_button_color: linear-gradient(45deg, purple, pink);
$scrollbar_corner_color: linear-gradient(45deg, lavender, red);
$scrollbar_thumb_color: linear-gradient(45deg, red, blue);